	
<table class="outer">
	<{foreachq item=assigns from=$block}>
		<tr class = "<{cycle values = "even,odd"}>">
			<td><{$assigns.assigns_id}>;
					<{$assigns.assigns_name}>;
					<{$assigns.assigns_scrolblocks}>;
					<{$assigns.assigns_jsenable}>;
					<{$assigns.assigns_globalnav}>;
					<{$assigns.assigns_widecontent}>;
					<{$assigns.assigns_preheader}>;
					<{$assigns.assigns_extheader}>;
					<{$assigns.assigns_headerrss}>;
					<{$assigns.assigns_slides}>;
					<{$assigns.assigns_layout}>;
					<{$assigns.assigns_w0}>;
					<{$assigns.assigns_w1}>;
					<{$assigns.assigns_w2}>;
					<{$assigns.assigns_logos}>;
					<{$assigns.assigns_logow}>;
					<{$assigns.assigns_logoh}>;
					<{$assigns.assigns_ctrl0}>;
					<{$assigns.assigns_ctrl1}>;
					<{$assigns.assigns_ctrl2}>;
					<{$assigns.assigns_extfooter}>;
					<{$assigns.assigns_ehblock}>;
					<{$assigns.assigns_efblocks0}>;
					<{$assigns.assigns_efblocks1}>;
					<{$assigns.assigns_efblocks2}>;
					<{$assigns.assigns_efblocks3}>;
					<{$assigns.assigns_wblocks1}>;
					<{$assigns.assigns_wblocks2}>;
					<{$assigns.assigns_footerrss}>;
					<{$assigns.assigns_uitheme}>;
					<{$assigns.assigns_multiskin}>;
					<{$assigns.assigns_fixskin}>;
					<{$assigns.assigns_blconcat}>;
					<{$assigns.assigns_sb1style}>;
					<{$assigns.assigns_sb2style}>;
					<{$assigns.assigns_eftstyle}>;
					<{$assigns.assigns_sysbstyle}>;
					<{$assigns.assigns_wide1style}>;
					<{$assigns.assigns_wide2style}>;
					<{$assigns.assigns_rtl}>;
					<{$assigns.assigns_content_top_order}>;
					<{$assigns.assigns_content_bottom_order}>;
					<{$assigns.assigns_submitter}>;
					<{$assigns.assigns_date_created}>;
					<{$assigns.assigns_online}>;
					</td>
		</tr>
	<{/foreach}>
</table>

